<div id="about">
  <div class="container">
    <h1>About Us</h1>
    <div class="q-and-a">
      <hr/>
      <h4>Nathan M. Gray Constructions of Greater Boston MA</h4>
      <hr/>
      <br/>
      <p>We offer you more than 25 years experience in both residential and commercial construction. We have developed a reputation for exceptional customer service and customer satisfaction. Many of our clients are return customers. We provide quality work that you will enjoy for years to come.</p>
      <br/>
      <p>Our construction company understands the construction process can be disruptive to everyday living. We work with our customers, architects and designers to minimize impact. We will work with you to develop a new bathroom, kitchen, garage, addition, deck, fireplace, remodel, tenant improvement, or other building / design need. We can complement your individual style while adhering to your budget and way of life.</p>
    </div>
</div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
